:root {
    --bg-color: #ffffff;
    --frame-color: #f0f0f0;
    --primary-color: #70d9fa;
    --grey-color: #b4b4b5;
    --expense-color: #e35151;
    --income-color: #28a61c;
    --dark-color: #000000;
    
    --link-color: #386bb8;
    --warning-color: #F83939;
  }
  